<img src="https://media.licdn.com/dms/image/C561BAQEVCDe44Tt-kQ/company-background_10000/0?e=2159024400&v=beta&t=BglJGcQeWT2zCaG1sbW30jo9YOGOUCqQ6TOPnWPlra4"/>

# Geopandas tutorial

Installing geopandas may lead to dependency conflicts.
Install a new environment called GeoPower and install the following libraries.
- Pandas
- GeoPandas
- PandaPower
- Matplotlib
- Jupyterlab
- Contextily 

If you are comfortable using the command line, the below may help:
```
    conda create -n GeoPower                             
    conda activate GeoPower
    conda config --env --add channels conda-forge 
    conda config --env --set channel_priority strict
    conda install pandas geopandas pandapower matplotlib jupyterlab contextily
```

In [1]:
# Import geopandas and matplotlib

import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

## Importing data

We are now going to display a map of the world. See this [link](https://geopandas.org/mapping.html) to learn more about this process

There are some built in layers and within geopandas that you might find useful. However, for this exercise, **download the natural earth [low res countries dataset](https://www.naturalearthdata.com/downloads/110m-cultural-vectors/110m-admin-0-countries/) and import it using the code below.**

In [8]:
# Import the file using the 'read_file' function. The file has cultural features, lets just keep some of them.
world = gpd.read_file("Data/ne_110m_admin_0_countries.shp",
                      )

# Notice the column geometry - that is where the map components are stored.
world.head()

,featurecla,scalerank,LABELRANK,SOVEREIGNT,SOV_A3,ADM0_DIF,LEVEL,TYPE,TLC,ADMIN,...,FCLASS_TR,FCLASS_ID,FCLASS_PL,FCLASS_GR,FCLASS_IT,FCLASS_NL,FCLASS_SE,FCLASS_BD,FCLASS_UA,geometry
0,Admin-0 country,1,6,Fiji,FJI,0,2,Sovereign country,1,Fiji,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((180 -16.06713, 180 -16.55522, ..."
1,Admin-0 country,1,3,United Republic of Tanzania,TZA,0,2,Sovereign country,1,United Republic of Tanzania,...,None,None,None,None,None,None,None,None,None,"POLYGON ((33.90371 -0.95, 34.07262 -1.05982, 3..."
2,Admin-0 country,1,7,Western Sahara,SAH,0,2,Indeterminate,1,Western Sahara,...,Unrecognized,Unrecognized,Unrecognized,None,None,Unrecognized,None,None,None,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,Admin-0 country,1,2,Canada,CAN,0,2,Sovereign country,1,Canada,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((-122.84 49, -122.97421 49.0025..."
4,Admin-0 country,1,2,United States of America,US1,1,2,Country,1,United States of America,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((-122.84 49, -120 49, -117.0312..."

In [ ]:
# basic plotting is just as easy as pandas
world.plot()

## Coordinate Reference System
All geodata in the form of shapefiles from reliable sources should have a crs defined. 
If you create your own data, make sure you set the crs before exporting it and sharing using the .set_crs() function.

In [ ]:
# You can use a basic command to determine the coordinate reference system.
# For more info, you can look at https://kodu.ut.ee/~kmoch/geopython2018/lessons/L2/projections.html
world.crs

**1. Calculate the area of each country in $km^{2}$. Print the top 5 countries by area.**

The original CRS is a geographic CRS with angular units, you need to first change the crs to a planar crs - which type is most suitable?

More info can be found in the docs [here](https://geopandas.org/en/stable/docs/reference/api/geopandas.GeoSeries.area.html).

**2. Create a plot in your new crs - how is this different to before?**

## Merging data

Import the dataset of annual renewable electricity generation by country from [OurWorldInData](https://ourworldindata.org/explorers/energy?tab=table&facet=none&country=USA~GBR~CHN~OWID_WRL~IND~BRA~ZAF&hideControls=false&Total+or+Breakdown=Select+a+source&Energy+or+Electricity=Electricity+only&Metric=Annual+generation&Select+a+source=Renewables) using pandas in the code below.

In [2]:
aeg = pd.read_csv("../Data/electricity-renewables.csv")
aeg = aeg[aeg["Year"]==2019]

In [3]:
aeg.head()

             Entity Code  Year  Electricity from renewables (TWh)
19    ASEAN (Ember)  NaN  2019                          236.83000
42      Afghanistan  AFG  2019                            0.89000
93           Africa  NaN  2019                          176.95999
145     Africa (EI)  NaN  2019                          177.24553
168  Africa (Ember)  NaN  2019                          176.96000

**3. Merge you GeoDataFrame with the annual electricity generation dataframe.**

In [ ]:
# merge data
combined = gpd.merge()

## Choropleth
**4. Calculate a new figure of merit for electricty generation e.g. TWh/person, TWh/GDP, TWh/area.**

**5. Plot a [choropleth](https://geopandas.org/en/stable/docs/user_guide/mapping.html#choropleth-maps) of your renewable electricity figure of merit with a legend.**

In [ ]:
fig, ax = plt.subplots(1, 1)
world.plot(column='pop_est', ax=ax, legend=True)

*Extension*

***6. Try adding a basemap using the contextily library following [this guide](https://geopandas.org/en/stable/gallery/plotting_basemap_background.html)***

***7. For the 5 highest ranked countries, plot the centroids of the countries and attach labels with with country names.***

## Exporting data

In [2]:
# Save your geodataframe with figure of merit to a new shape file
# Read https://geopandas.org/io.html#writing-spatial-data